<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Content
        </label>

        <input type="text" id="content_box" name="query_content">
      </div>

      <button>
        Create todo
      </button>
    </form>
  </div>
</div>

<h2>Next up</h2>

<ul>
  <% @next_up_todos.each do |todo| %>
    <li>
      <%= todo.content %>

      Created <%= time_ago_in_words(todo.created_at) %> ago
    </li>
  <% end %>
</ul>

<h2>In progress</h2>

<ul>
  <% @in_progress_todos.each do |todo| %>
    <li>
      <%= todo.content %>

      Updated <%= time_ago_in_words(todo.updated_at) %> ago
    </li>
  <% end %>
</ul>

<h2>Done</h2>

<ul>
  <% @done_todos.each do |todo| %>
    <li>
      <%= todo.content %>

      Updated <%= time_ago_in_words(todo.updated_at) %> ago
    </li>
  <% end %>
</ul>
